<% layout("/layouts/boilerplate") %>

<div class="row">

    <div class="col col-7 offset-2">

    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings"
         class="needs-validation" 
         novalidate
         enctype="multipart/form-data"
        >

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input 
                name="listing[title]" 
                placeholder="Add title" 
                type="text" 
                class="form-control"
                required
            >
            <div class="valid-feedback">nice title</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">Please add description</div>
        </div>
        <!-- <div>
            <label for="imagename" class="form-label">Image Name</label>
            <textarea class="form-control" required type="text" name="listing[image][filename]">listingimage</textarea>
            <div class="invalid-feedback">Add image name</div>
        </div> -->
        <!-- <div class="mb-3">
            <label for="image" class="form-label">Image URL</label>
            <input class="form-control" required type="text" name="listing[image]" placeholder="enter image URL/Link">
            <div class="invalid-feedback">Add image</div>
        </div> -->
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input class="form-control" required type="file" name="listing[image]" placeholder="enter image URL/Link">
            <div class="invalid-feedback">Add image</div>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input 
                class="form-control" 
                name="listing[price]" 
                placeholder="Enter price"
                required
            >
            <div class="invalid-feedback">price should be valid</div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-8">
                <label for="location" class="form-label">Location</label>
                <input class="form-control" type="text" name="listing[location]" placeholder="Enter location" required>
                <div class="invalid-feedback">location should be valid</div>
            </div>
            <div class="mb-3 col-md-4">
                <label for="country" class="form-label">Country</label>
                <input class="form-control" type="text" name="listing[country]" placeholder="India" required>
                <div class="invalid-feedback">country should be valid</div>
            </div>
        </div>
        <br>
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>


    </div>
</div>

    